/**
 * Theme Name:   Storefront Child
 * Description:  Storefront Child Theme
 * Author:       Gavin Abson
 * Template:     storefront
 * Version:      0.0.1
 * Text Domain:  storefrontchild
 **/

.storefront-primary-navigation {
  clear: none;
  width: auto;
  float: right;
  color: #531955;
  font-family: "P22 Mackinac Pro";
  font-size: 23px;
  font-weight: 500;
  line-height: 31px;
  margin-right: -20px;
  margin-top: 40px;
}

.main-navigation ul li a {
  color: #531955;
}

.menu-toggle {
  font-size: medium !important;
  margin-bottom: 20px;
}

.cart-links {
  width: auto;
  text-align: right;
  margin-bottom: -55px;
  z-index: 200;
  position: relative;
  display: block;
}

.cart-links button {
  background-color: #FFF;
  border: 2px solid #54075B;
  border-radius: 40px;
  padding: 0px 5px 0px 5px;
  border: 2px solid #531955;
	border-radius: 16px;
}

.my-courses {
	/* height: 18px;
	width: 77px; */
	color: #252525;
	font-family: "Azo Sans", sans-serif;
	font-size: 14px;
  font-weight: lighter;
	/* line-height: 18px; */
	text-align: center;
  margin-right: 23px;
  padding: 2px 10px 2px 10px !important;
}

.shopping-cart {
	color: #54075B;
	text-align: center;
}

.site-branding {
  width: auto !important;
}

.site-header {
  border-bottom: none;
}

.header-wrapper {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

.header-row {
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .site-content {
    background-image: url('/wp-content/themes/storefront-child/assets/images/hero.png');
    background-repeat: no-repeat;
    background-position: top right 12%;
  }
}

h1.opening-title {
	color: #531955;
  font-family: "P22 Mackinac Pro", serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.opening-text {
	color: #252525;
  font-family: "Azo Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.opening-link {
  margin-top: 40px;
}

.opening-link-btn {
  background-color: #FFF;
  border: 3px solid #54075B;
  border-radius: 40px;
  color: #54075B;
}

#opening-learn-more {
  margin-top: 100px;
  margin-bottom: 190px;
}

.opening-learn-more-container {
  border: 1px solid #BFCCCF;
  border-radius: 5px;
  background-color: #FAFEFF;
  padding: 25px;
  width: 100%;
  display: inline-block;
}

.opening-learn-more-col {
  /* width: 33%; */
  float: left;
  padding: 0px 40px 0px 40px;
}

@media only screen and (min-width: 1024px) {
  .opening-learn-more-col:not(:first-child) {
    border-left: 1px solid #BFCCCF;
  }
}

.opening-learn-more-link {
  text-align: right;
}

.opening-learn-more-col h2 {
  color: #005568;
  font-family: "P22 Mackinac Pro";
  font-size: 23px;
  font-weight: 500;
  line-height: 31px;
}

.opening-learn-more-col p {
  width: 250px;
  color: #005568;
  font-family: "Azo Sans";
  font-size: 14px;
  line-height: 18px;
}

.full-learn-more {
  margin-top: 80px;
}

.full-learn-more-container {
  border: 1px solid #BFCCCF;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #CECECE;
  padding: 25px 25px 35px 25px;
  width: 100%;
  display: inline-block;
}

.full-learn-more-container .col-2 {
  width: 66%;
  padding: 40px;
}

.full-learn-more-container .col-3 {
  width: 100%;
  padding: 40px;
}

.full-learn-more-btn {
  background-color: #54075B;
  border-radius: 10px;
  color: #FFF;
}

#homepage-tab-section {
  margin-top: 80px;
}

#homepage-tab-section .nav-item.active {
  background-color: #54075B;
  color: #FFF;
}

#homepage-tab-section img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -22px;
}

#homepage-tab-section .col-6 {
  margin-bottom: 40px;
}

.site-footer {
  background-color: #fff;
}

.footer-text {
  border-top: 1px solid #54075B;
  padding: 23px 0px 0px 0px;
  color: #252525;
  font-family: "Azo Sans", sans;
  font-size: 14px;
  line-height: 18px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

.footer-text p {
  line-height: 1;
  margin-bottom: 7px;
}

#secondary-full-learn-more {
  text-align: center;
}

.full-learn-more h2 {
  color: #531955;
  font-family: "P22 Mackinac Pro";
  font-size: 23px;
  font-weight: 500;
  line-height: 31px;
  padding-top: 39px;
}

.footer-text h3 {
  color: #531955;
  font-family: "P22 Mackinac Pro";
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.footer-text {
	color: #252525;
  font-family: "Azo Sans", sans;
  font-size: 14px;
  line-height: 18px;
}

button:hover {
  background-color: #531955dd;
  transition-delay: 2s;
}

.social-icons img {
  float: left;
  padding-left: 12px;
  width: 45px;
}

.social-icons {
  padding-left: 55px;
}
